<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsa.mapper.EventRolesMapper">

    <insert id="saveEventRoles">
        INSERT INTO eventRoles (eventId, roleName, volunteerCount)
        VALUES
            (#{eventId}, #{roleName}, #{volunteerCount})
    </insert>


</mapper>
