<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsa.mapper.EventFacilitiesMapper">

    <insert id="saveEventFacilities">
        INSERT INTO eventfacilities (eventId, name)
        VALUES
            (#{eventId}, #{name})
    </insert>
    <delete id="deleteEventFacilitiesByEventId">
        DELETE FROM eventfacilities
        WHERE eventId = #{id};
    </delete>


</mapper>
