<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsa.mapper.UserMapper">
    <select id="selectAllUsers" resultType="com.wsa.model.User">
        SELECT * FROM users;
    </select>

    <select id="findByUsername" parameterType="string" resultType="com.wsa.model.User">
        SELECT * FROM users WHERE username = #{username};
    </select>

    <select id="findAuthoritiesByUsername" parameterType="string" resultType="com.wsa.model.Authority">
        SELECT a.roleId, a.authority
        FROM authorities a
                 JOIN users u ON a.username = u.username
        WHERE a.username = #{username}
    </select>
    <select id="findByLoginid" parameterType="string" resultType="com.wsa.model.User">
        SELECT * FROM users WHERE loginId = #{loginId};
    </select>
    <select id="selectUsersByRoleId" parameterType="map" resultType="com.wsa.model.UserInfo">
        SELECT u.id, u.loginId, u.username, u.password, u.phone, u.email, u.photo, r.roleId, r.roleName
        FROM users u
                 JOIN authorities a ON u.username = a.username
                 JOIN roles r ON a.roleId = r.roleId
        WHERE a.roleId = #{roleId}
            LIMIT #{offset}, #{pageSize}
    </select>
</mapper>
