<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsa.mapper.UserMapper">
    <update id="updateUser">
        UPDATE users
        SET loginId = #{loginId}, username = #{username}, phone = #{phone}, photo = #{photo}, email = #{email}, password = #{password}
            WHERE id = #{id};
    </update>
    <delete id="deleteUser">
        DELETE FROM users
        WHERE id = #{id};
    </delete>

    <select id="selectAllUsers" resultType="com.wsa.model.User">
        SELECT * FROM users;
    </select>

    <select id="findByUsername" parameterType="string" resultType="com.wsa.model.User">
        SELECT * FROM users WHERE username = #{username};
    </select>

    <select id="findAuthoritiesByUserId" parameterType="long" resultType="com.wsa.model.Authority">
        SELECT a.roleId, a.authority
        FROM authorities a
                 JOIN users u ON a.userId = u.id
        WHERE a.userId = #{userId}
    </select>
    <select id="findById" parameterType="long" resultType="com.wsa.model.User">
        SELECT * FROM users WHERE id = #{id};
    </select>
    <select id="selectUsersByRoleId" parameterType="map" resultType="com.wsa.model.UserInfo">
        SELECT u.id, u.loginId, u.username, u.password, u.phone, u.email, u.photo, r.roleId, r.roleName
        FROM users u
                 JOIN authorities a ON u.username = a.username
                 JOIN roles r ON a.roleId = r.roleId
        WHERE a.roleId = #{roleId}
            LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (loginId, username, password, phone, email, photo)
        VALUES
            (#{loginId}, #{username}, #{password}, #{phone}, #{email}, #{phone})
    </insert>
    <insert id="addVolunteerInfo">
        INSERT INTO volunteerInfo (volunteerId, InfoTitle, eventId, SendTime, InfoBody)
        VALUES
            (#{volunteerId}, #{infoTitle}, #{eventId}, #{sendTime}, #{infoBody})
    </insert>

    <update id="updateUserProfile" parameterType="com.wsa.model.User">
        UPDATE users
        SET username = #{username}, phone = #{phone}, email = #{email}
        WHERE loginId = #{loginId}
    </update>

    <update id="updateLoginTime" parameterType="string">
        UPDATE users
        SET lastLoginTime = now()
        WHERE username = #{username}
    </update>

    <update id="updateUserAvator">
        UPDATE users
        SET
            loginId = users.loginId,
            username = users.username,
            phone = users.phone,
            email = users.email,
            password = users.password,
            enabled = users.enabled,
            lastLoginTime = users.lastLoginTime,
            registerTime = users.registerTime,
            photo = #{s}
        WHERE id = #{volunteerId};
    </update>

    <select id="getUserByEventRegistrationId" parameterType="long" resultType="com.wsa.model.User">
        SELECT
            users.*
        FROM
            eventregistrations
                INNER JOIN
            volunteer
            ON
                eventregistrations.volunteerId = volunteer.id
                INNER JOIN
            users
            ON
                volunteer.userId = users.id
        WHERE
            eventregistrations.id = #{id}
    </select>
</mapper>
